In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("../data/US_Accidents_2020.csv")

In [29]:
df.shape

(1516064, 47)

In [30]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,0.219,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
4,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day

In [31]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516064 entries, 0 to 1516063
Data columns (total 47 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ID                     1516064 non-null  object
 1   Severity               1516064 non-null  int64
 2   Start_Time             1516064 non-null  object
 3   End_Time               1516064 non-null  object
 4   Start_Lat              1516064 non-null  float64
 5   Start_Lng              1516064 non-null  float64
 6   End_Lat                1516064 non-null  float64
 7   End_Lng                1516064 non-null  float64
 8   Distance(mi)           1516064 non-null  float64
 9   Description            1516064 non-null  object
 10  Number                 469969 non-null   float64
 11  Street                 1516064 non-null  object
 12  Side                   1516064 non-null  object
 13  City                   1515981 non-null  object
 14  County                 1516064 non-null  object
 15  State                  1516064 non-null  object
 16  Zipcode                1515129 non-null  object
 17  Country                1516064 non-null  object
 18  Timezone               1513762 non-null  object
 19  Airport_Code           1511816 non-null  object
 20  Weather_Timestamp      1485800 non-null  object
 21  Temperature(F)         1473031 non-null  float64
 22  Wind_Chill(F)          1066748 non-null  float64
 23  Humidity(%)            1470555 non-null  float64
 24  Pressure(in)           1479790 non-null  float64
 25  Visibility(mi)         1471853 non-null  float64
 26  Wind_Direction         1474206 non-null  object
 27  Wind_Speed(mph)        1387202 non-null  float64
 28  Precipitation(in)      1005515 non-null  float64
 29  Weather_Condition      1472057 non-null  object
 30  Amenity                1516064 non-null  bool
 31  Bump                   1516064 non-null  bool
 32  Crossing               1516064 non-null  bool
 33  Give_Way               1516064 non-null  bool
 34  Junction               1516064 non-null  bool
 35  No_Exit                1516064 non-null  bool
 36  Railway                1516064 non-null  bool
 37  Roundabout             1516064 non-null  bool
 38  Station                1516064 non-null  bool
 39  Stop                   1516064 non-null  bool
 40  Traffic_Calming        1516064 non-null  bool
 41  Traffic_Signal         1516064 non-null  bool
 42  Turning_Loop           1516064 non-null  bool
 43  Sunrise_Sunset         1515981 non-null  object
 44  Civil_Twilight         1515981 non-null  object
 45  Nautical_Twilight      1515981 non-null  object
 46  Astronomical_Twilight  1515981 non-null  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 412.1+ MB

In [33]:
df.tail()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
1516059,A-4239402,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.00248,-117.37936,33.99888,-117.37094,0.543,At Market St - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
1516060,A-4239403,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.76696,-117.14806,32.76555,-117.15363,0.338,At Camino Del Rio/Mission Center Rd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
1516061,A-4239404,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.77545,-117.84779,33.77740,-117.85727,0.561,At Glassell St/Grand Ave - Accident. in the ri...,...,False,False,False,False,False,False,Day,Day,Day,Day
1516062,A-4239405,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.99246,-118.40302,33.98311,-118.39565,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
1516063,A-4239406,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.13393,-117.23092,34.13736,-117.23934,0.537,At Highland Ave/Arden Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [34]:
df['Severity'].value_counts()

2    1212382
3     161052
4     114452
1      28178
Name: Severity, dtype: int64

In [35]:
df['Sign']=df.iloc[:,30:43].any(axis='columns')

In [36]:
df['Sign'].head()

0    False
1    False
2     True
3     True
4    False
Name: Sign, dtype: bool

In [37]:
df['Sign'].value_counts()

False    1084933
True      431131
Name: Sign, dtype: int64

In [38]:
df_signs=df[df['Sign']==True]

In [39]:
df_signs.shape

(431131, 48)

In [40]:
df_signs['Severity'].value_counts()

2    333367
3     51767
4     29743
1     16254
Name: Severity, dtype: int64

In [41]:
df.isna().sum()

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                        0
End_Lng                        0
Distance(mi)                   0
Description                    0
Number                   1046095
Street                         0
Side                           0
City                          83
County                         0
State                          0
Zipcode                      935
Country                        0
Timezone                    2302
Airport_Code                4248
Weather_Timestamp          30264
Temperature(F)             43033
Wind_Chill(F)             449316
Humidity(%)                45509
Pressure(in)               36274
Visibility(mi)             44211
Wind_Direction             41858
Wind_Speed(mph)           128862
Precipitation(in)         510549
Weather_Condition          44007
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset                83
Civil_Twilight                83
Nautical_Twilight             83
Astronomical_Twilight         83
Sign                           0
dtype: int64

In [42]:
df.value_counts()

ID         Severity  Start_Time           End_Time             Start_Lat  Start_Lng    End_Lat    End_Lng      Distance(mi)  Description                                                                                       Number   Street              Side  City         County         State  Zipcode     Country  Timezone    Airport_Code  Weather_Timestamp    Temperature(F)  Wind_Chill(F)  Humidity(%)  Pressure(in)  Visibility(mi)  Wind_Direction  Wind_Speed(mph)  Precipitation(in)  Weather_Condition  Amenity  Bump   Crossing  Give_Way  Junction  No_Exit  Railway  Roundabout  Station  Stop   Traffic_Calming  Traffic_Signal  Turning_Loop  Sunrise_Sunset  Civil_Twilight  Nautical_Twilight  Astronomical_Twilight  Sign
A-2716644  4         2016-02-09 18:20:58  2016-02-10 00:20:58  40.451120  -85.150480   40.354290  -85.149930   6.690         Closed between IN-26 and IN-67 - Road closed due to accident.                                     9001.0    W State Road 26    R     Dunkirk      Jay            IN     47336       US       US/Eastern  KMIE          2016-02-09 18:20:00  19.9            7.3            81.0         29.85         2.0             WNW             12.7             0.0                Light Snow         False    False  False     False     False     False    False    False       False    False  False            False           False         Night           Day             Day                Day                    False    1
A-3544861  3         2020-06-11 17:29:43  2020-06-11 17:44:43  30.668950  -88.048440   30.681180  -87.992300   3.441         Between S Broad St/Exit 24 and US-90/US-98/Battleship Pky/Exit 30 - Accident. Left lane blocked.  522.0     S Carolina St      L     Mobile       Mobile         AL     36603       US       US/Central  KBFM          2020-06-11 17:53:00  86.0            86.0           51.0         30.06         10.0            NNE             9.0              0.0                Fair               False    False  False     False     True      False    False    False       False    False  False            False           False         Day             Day             Day                Day                    True     1
A-3544908  2         2020-06-11 18:17:47  2020-06-11 18:47:47  29.604980  -98.602850   29.604980  -98.602850   0.000         At I-10/US-87 - Accident.                                                                         17280.0   La Cantera Pkwy    R     San Antonio  Bexar          TX     78256       US       US/Central  K5C1          2020-06-11 18:15:00  88.0            88.0           21.0         28.74         10.0            CALM            0.0              0.0                Fair               False    False  False     False     False     False    False    False       False    False  False            False           False         Day             Day             Day                Day                    False    1
A-3544904  1         2020-06-11 17:49:22  2020-06-11 18:34:22  36.157140  -86.803590   36.157140  -86.803590   0.000         At 21st Ave - Accident.                                                                           1916.0    Charlotte Ave      R     Nashville    Davidson       TN     37203-2107  US       US/Central  KBNA          2020-06-11 17:53:00  81.0            81.0           34.0         29.55         10.0            N               9.0              0.0                Fair               False    False  True      False     False     False    False    False       False    False  False            True            False         Day             Day             Day                Day                    True     1
A-3544903  2         2020-06-11 17:48:21  2020-06-11 18:18:21  36.065230  -86.628910   36.064800  -86.628440   0.040         At Old Hickory Blvd - Accident. Roadwork. Lane blocked.                                           2850.0    Murfreesboro Pike  L     Antioch      Davidson       TN     37013-2010  US       US/Central  KBNA          2020-06-11 17:53:00  81.0            81.0           34.0         29.55         10.0            N               9.0              0.0                Fair               False    False  False     False     False     False    False    False       False    False  False            False           False         Day             Day             Day                Day                    False    1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ..
A-3218860  2         2020-12-21 01:35:00  2020-12-22 05:19:19  32.536966  -93.770438   32.535072  -93.773084   0.202         Incident on N HEARNE near N MARKET ST Drive with caution.                                         1601.0    N Market St        R     Shreveport   Caddo          LA     71107-5207  US       US/Central  KDTN          2020-12-21 01:53:00  45.0            43.0           82.0         29.90         10.0            W               5.0              0.0                Fair               False    False  False     False     False     False    False    False       False    False  False            True            False         Night           Night           Night              Night                  True     1
A-3218858  2         2020-12-19 00:47:34  2020-12-19 02:23:36  47.540127  -92.262121   47.620097  -92.242261   5.602         Incident on MN-135 near LANE 55 Drive with caution.                                               5800.0    Highway 135 N      R     Aurora       St. Louis      MN     55705-1285  US       US/Central  KEVM          2020-12-19 00:55:00  17.0            5.0            83.0         28.47         4.0             WNW             10.0             0.0                Light Snow         False    False  True      False     False     False    False    False       False    False  False            False           False         Night           Night           Night              Night                  True     1
A-3218856  2         2020-11-09 13:21:00  2020-11-09 19:13:40  36.413670  -119.076340  36.413657  -119.072001  0.241         Incident on CA-216 near ROAD 222 Drive with caution.                                              22200.0   Avenue 344         L     Woodlake     Tulare         CA     93286-9712  US       US/Pacific  KVIS          2020-11-09 12:56:00  54.0            54.0           45.0         29.87         10.0            S               7.0              0.0                Fair               False    False  False     False     False     False    False    False       False    False  False            False           False         Day             Day             Day                Day                    False    1
A-3218854  2         2020-10-31 15:45:42  2020-10-31 18:45:49  45.429101  -93.574090   45.421940  -93.567680   0.584         Incident on US-169 SB near 253RD AVE Drive with caution.                                          25276.0   Highway 169        R     Zimmerman    Sherburne      MN     55398-8443  US       US/Central  KPNM          2020-10-31 15:35:00  54.0            54.0           54.0         28.69         10.0            W               16.0             0.0                Mostly Cloudy      False    False  False     False     False     False    False    False       False    False  False            False           False         Day             Day             Day                Day                    False    1
A-4239372  3         2019-08-23 10:32:30  2019-08-23 11:01:40  34.485189  -120.229276  34.482530  -120.230510  0.197         At Gaviota Roadside Rest Area - Accident. Lane blocked.                                           18000.0   US Highway 101     R     Goleta       Santa Barbara  CA     93117       US       US/Pacific  KSBA          2019-08-23 10:53:00  70.0            70.0           76.0         29.87         9.0             VAR             3.0              0.0                Cloudy             False    False  False     False     True      False    False    False       False    False  False            False           False         Day             Day             Day                Day                    True     1
Length: 334821, dtype: int64

In [45]:
df_signs.isna().mean()*100

ID                        0.000000
Severity                  0.000000
Start_Time                0.000000
End_Time                  0.000000
Start_Lat                 0.000000
Start_Lng                 0.000000
End_Lat                   0.000000
End_Lng                   0.000000
Distance(mi)              0.000000
Description               0.000000
Number                   66.419255
Street                    0.000000
Side                      0.000000
City                      0.009278
County                    0.000000
State                     0.000000
Zipcode                   0.006031
Country                   0.000000
Timezone                  0.061930
Airport_Code              0.156333
Weather_Timestamp         1.527610
Temperature(F)            2.401590
Wind_Chill(F)            31.528932
Humidity(%)               2.554444
Pressure(in)              2.021659
Visibility(mi)            2.581350
Wind_Direction            2.371437
Wind_Speed(mph)           8.110064
Precipitation(in)        34.924884
Weather_Condition         2.568825
Amenity                   0.000000
Bump                      0.000000
Crossing                  0.000000
Give_Way                  0.000000
Junction                  0.000000
No_Exit                   0.000000
Railway                   0.000000
Roundabout                0.000000
Station                   0.000000
Stop                      0.000000
Traffic_Calming           0.000000
Traffic_Signal            0.000000
Turning_Loop              0.000000
Sunrise_Sunset            0.009278
Civil_Twilight            0.009278
Nautical_Twilight         0.009278
Astronomical_Twilight     0.009278
Sign                      0.000000
dtype: float64